.header-block {
	display: block;
	text-align: center;
	margin-bottom: 2rem;
}

.mode-switcher-block {
	display: block;
	margin-bottom: 1rem;
}

.search-input-block {
	display: block;
	margin-bottom: 1rem;
}

.table-block {
	display: block;
	margin-bottom: 1rem;
}
