<bp-weather-mode-select [formControl]="modeControl"></bp-weather-mode-select>

<input [formControl]="searchControl">

<!-- <bp-weather-table-daily [city]="city$ | async"></bp-weather-table-daily> -->

<ng-container [ngSwitch]="mode$ | async">

	<ng-template [ngSwitchCase]="'hourly'">
		<bp-weather-table-hourly [city]="city$ | async"
								 [data]="hourly$ | async"></bp-weather-table-hourly>
	</ng-template>

	<ng-template [ngSwitchCase]="'daily'">
		<bp-weather-table-daily [city]="city$ | async"
								[data]="daily$ | async"></bp-weather-table-daily>
	</ng-template>

</ng-container>
