<ng-container *ngIf="(data$$ | async) as weather; else loading">
	<ng-container *ngIf="(weather.data?.length && weather.data) as weatherData; else noData">

		<table class="tui-table">
			<tbody>
				<tr class="tui-table__tr">
					<th class="tui-table__th">City Name</th>
					<th *ngFor="let date of (headers$ | async)" class="tui-table__th"> {{ date }} </th>
				</tr>
				<tr class="tui-table__tr">
					<td class="tui-table__td">{{ weather.city }}</td>
					<td *ngFor="let temperature of (cells$ | async)" class="tui-table__td">
						{{ temperature }}
					</td>

				</tr>
			</tbody>
		</table>

	</ng-container>
</ng-container>

<ng-template #loading>
	<div style="text-align: center;">
		<h2>...loading</h2>
	</div>
</ng-template>

<ng-template #noData>
	<div style="text-align: center;">
		<h2>No data</h2>
	</div>
</ng-template>
